/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* --------------------------------- */

.formDiv {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  min-width: 100vh;
  flex-direction: row;
  background-color: #16191f;
  justify-content: space-evenly;
  position: static; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /*  Full width */
}

a {
  font-size: 50px;
  text-decoration: none;
  color: white;
}
.colContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80vw;

  border: black;
}

.listItem {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 3vh;
  max-width: 70vw;
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
}
.listItem p {
  font-size: x-large;
  min-width: 10vw;
  color: black;
}

.listItem label {
  font-size: x-large;
  min-width: 5vw;
  font-size: 15pt;
  font: bold;
  color: black;
}

.linkOrder {
  color: blue;
  font-size: 15pt;
}

.card {
  color: black;
  min-height: 10%;
  min-width: 80%;
  background-color: rgb(187, 122, 122);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.desc {
  font-size: medium;
  text-indent: 3vw;
}

.customerOrderLinks {
  display: flex;
  flex-direction: column;
}
.customerItem {
}
.orderList {
  min-width: 50vw;
}

.quickSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17191d;
}

.orderCustomerInfo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  
  border-style:double;
  border-color: black;
  
}


.orderCustInfoL{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 50%;
  background-color: white;
  color: black;
  
}
.orderCustInfoR {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  color: black;
  
}
.orderItemContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.orderItems{
  border-style: groove;
}
.order {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  overflow: auto;
  
}

.note {
  display: flex;
  flex-direction: row;
  border-style: double;
  border-color: white;
  font-size: 12pt;
  color: black;
  max-width: 100%;
  background-color: white;
}

.noteButton {
  height: 2vh;
}

.buttonBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}